{% for label, messages in app.flashes %}
    {% for message in messages %}
    <div class="alert alert-{{ label }} alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="alert-message">
            {{ message|raw}}
            {# <strong>Votre e-mail n'est pas validé</strong>, renvoyer le lien d'activation  #}
        </div>
    </div>
    {% endfor %}
{% endfor %}