<div class='loader df aic jcc'>
    <div>
      <h1>Loading</h1>
      <h2 class='loader--text'>0%</h2>
    </div>
  </div>
  <div class='demo-wrapper'>
    <header class='df aic jcc'>
      <div>
        <h1>ScrollTrigger</h1>
        <h2>demo</h2>
      </div>
    </header>
    <section class='demo-text'>
      <div class='wrapper text'>
        ABCDEFGHIJKLMNOPQRSTUVWXYZ
      </div>
    </section>
    <section class='demo-gallery'>
      <ul class='wrapper'>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=147' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=175' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=169' width='1240'>
        </li>
      </ul>
    </section>
    <section class='demo-gallery'>
      <ul class='wrapper'>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=155' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=205' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=191' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=59' width='1240'>
        </li>
      </ul>
    </section>
    <section class='demo-gallery'>
      <ul class='wrapper'>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=8' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=63' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=141' width='1240'>
        </li>
      </ul>
    </section>
    <section class='demo-gallery'>
      <ul class='wrapper'>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=38' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=17' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=162' width='1240'>
        </li>
        <li>
          <img height='874' src='https://source.unsplash.com/random/1240x874?sig=149' width='1240'>
        </li>
      </ul>
    </section>
    <section class='demo-text'>
      <div class='wrapper text'>
        ABCDEFGHIJKLMNOPQRSTUVWXYZ
      </div>
    </section>
    <footer class='df aic jcc'>
      <p>Images from <a href="https://unsplash.com/">Unsplash</a></p>
    </footer>
  </div>
  