


   {% block javascripts %}

        <script src="asset/js/main/vertical_1_slide.js" defer></script>

        <script src="asset/js/main/slider.js" defer></script>

    {% endblock %}



{# 
  {% block javascripts %}
    {{ parent() }}
 {% endblock %} #}



 





<div class="controls">
    <a class="up disabled" data-up='0'>&uarr;</a> <a class="down" data-down="2">&darr;</a>
  </div>
  
  <span class="note"> 
    <span class="activeSlide">1</span> /  
        <span class="slideTotal">6</span> <!-- via CMS -->
  </span>
  
  
  <div class="panels" id="panelContainer">
    
      {# <div class="panel one" id="panel_1">
          <div class="clip">
              <h2><a>1. Project Title</a></h2><span class="tint"></span>
              <div class="video_clip">
                <iframe src="https://player.vimeo.com/video/468155263?&api=1&controls=0&background=1&autoplay=1&loop=1&mute=1" allow="autoplay;"></iframe>
                </div>			
          </div>
      </div> #}
   

      <div class="panel two" id="panel_2">
        <section class="home">
            <div class="content">
                <h1>CREATIONS <br>ARTISANEL <br>EN RESINE
                <br>
                <span></span></h1>
                <p>Laissez vous seduire</p>
                <br><br>
                <a href="#">Read More</a>
            </div>
            <div class="media-icons">
                <a href="#"><img src="logos/icons8-facebook-150.png" alt="Facebook" width="37px"></a>
                <a href="#"><img src="logos/icons8-insta-150.png" alt="Instagramme" width="37px"></a>
            </div>
        </section>
        <div class="clip">
            <h2>
              {# <a class="slideInfo">CREATIVITE</a> #}
            </h2>
            <span class="tint"></span>
            {# <img src="{{ asset('images/grenouille_bonneMesure.jpg') }}" alt="" /> #}
        </div>
      </div>
  



      <div class="panel three" id="panel_3">
        <section class="home">
          <div class="content">
              <h1>C'EST <br> UNE RENCONTRE <br>
              <br>
              <span></span></h1>
              <p>celebrez la créativité</p>
              <br><br>
              <a href="#">Read More</a>
          </div>
          <div class="media-icons">
              <a href="#"><img src="logos/icons8-facebook-150.png" alt="Facebook" width="37px"></a>
              <a href="#"><img src="logos/icons8-insta-150.png" alt="Instagramme" width="37px"></a>
          </div>
        </section>
          <div class="clip">
            <h2>
              {# <a></a> #}
            </h2>
            <span class="tint"></span>
            {# <img src="https://source.unsplash.com/800x600?river" alt="" /> #}
          </div>
      </div>
  



      <div class="panel four" id="panel_4">
        <section class="home">
          <div class="content">
              <h1>ENTRE <br>UNE FORME, <br>ET UNE COULEUR
              <br>
              <span></span></h1>
              <p>celebrez la créativité</p>
              <br><br>
              <a href="#">Read More</a>
          </div>
          <div class="media-icons">
              <a href="#"><img src="logos/icons8-facebook-150.png" alt="Facebook" width="37px"></a>
              <a href="#"><img src="logos/icons8-insta-150.png" alt="Instagramme" width="37px"></a>
          </div>
      </section>
          <div class="clip">
            <h2>
              {# <a>4. Project Title</a> #}
            </h2>
            <span class="tint"></span>
            {# <img src="https://source.unsplash.com/800x600?waterfall" alt="" /> #}
          </div>
      </div>
  


      
      {# <div class="panel five" id="panel_5">
             <div class="clip">
          <h2><a>5. Project Title</a></h2><span class="tint"></span>
            <img src="https://source.unsplash.com/800x600?glacier" alt="" />
          </div>
      </div> 
   #}
      
      
  </div> 

