<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">


 {# Les fichiers css #}
        {# la nav #}
        <link rel="stylesheet" href="asset/css/nav.css">

        <link rel="stylesheet" href="asset/css/style.css">
        <link rel="stylesheet" href="asset/css/reset.css">
        

{# Les Librairies css #}
        <link rel="stylesheet" href="asset/css/bootstrap.min.css"> 


        {% block stylesheets %}{% endblock %}
        
    </head>
    <body>
        {% include "_partials/_nav.html.twig" %}
        {% include "_partials/_flash.html.twig" %}

            {% if app.user and app.user.isVerified == false %}
                <div class="alert alert-werning alert-dismissible" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <div class="alert-message">
                        <strong>Votre e-mail n'est pas validé</strong>,  
                        <a href="{{ path('resend_verif') }}">renvoyer le lien d'activation</a>
                    </div>
                </div>
            {% endif %}

        {% block body %}{% endblock %}

        {% include "_partials/_footer.html.twig" %}




        {% block javascripts %}{% endblock %}
{# Les fichiers JS  #}

        {# la nav #}
        <script src="asset/js/nav.js" defer></script>
        <script src="asset/js/script.js" defer></script>
        <script src="asset/js/bootstrap.bundle.min.js" defer></script>

        {# scripts géneraux #}
        <script src= 'asset/js/bootstrap.bundle.min.js'  defer></script>

        {# Les librairies JS #}
            {# GSAP #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollToPlugin.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollToPlugin.min.js"></script>

    </body>
</html>
